{% extends "template2.html" %}

{% block title %}
    BookHome
{% endblock %}

{% block heading %}
    <h1>Welcome to Bookhome!</h1>
{% endblock %}

{% block user %}
{{ username }}
{% endblock %}

{% block content %}
    <form style="padding-bottom: 10px" class="d-flex justify-content-between" action="{{ url_for('search', username=username) }}" method="post">
            <input class="form-control" type="text" name="hints" placeholder="Search books with isbn, name or author">
            <button style="padding-left: 10px" type="submit" class="btn btn-primary">Search</button>
    </form>
    {% for item in res %}
        <div class="row">
          <div class="col-sm-12" style="padding-bottom: 10px">
            <div class="card">
              <div class="row card-body">
                   <img src="{{ url_for('static', filename='img/Book.jpg') }}" class="col-sm-6 col-lg-4" alt="">
                  <div class="col-sm-6 col-lg-8">
                      <h5 class="card-title">《{{ item.title }}》</h5>
                      <p class="card-text">Author: {{ item.author }}</p>
                      <p class="card-text">Publish Year: {{ item.pubyear }}</p>
                      <p class="card-text">IDBN: {{ item.isbn }}</p>
                      <a href="{{ url_for('detail', isbn=item.isbn, username=username) }}" class="btn btn-primary">Go detail</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
    {% else %}
        <h5 style="padding-top: 10px">No result for search.</h5>
    {% endfor %}
{% endblock %}
